# Wi-Fi Credentials for Jaguar Flash
WIFI_SSID=
WIFI_PASSWORD=

# Flashing Serial & Target Parameters
PORT=/dev/ttyACM0
CHIP=esp32s3
BAUD=921600

# Client Configuration
IP=192.168.5.126
CLIENT_PORT=8889
